<h1> Hello, <%= User.first.email %> </h1>

<div class="container">
<ul><% @categories.each do |category| %>
    <li><%= link_to category.name, articles_path(category) %></li>
    <% end  %>
</ul>
</div>
